---
# Server base configuration variables
# Used by base.yml playbook for system setup

# User configuration
server_users:
  - name: magicmicky
    shell: /bin/zsh
    groups: ['sudo', 'docker']
    ssh_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDEpOmJsKsRUnb0yeqx1hPCCLBJDuiaOUVnqtw9OZEwSm/tWLXG6iVcqIi4QxUnnGyncVUcK9SKgMUIWkz5KzhVJn1XRHbiqYVctQDunGlybXFmd++sLQrJXfCMfAhH0JCLla0pSW6N4hzH2XLLfXf68w+DnM+AxEoaFlQLwM0ng3ZFZ+Ia4gfj+SmPVcsFlQOLUpoK9Ab7jsU9vGP6agfUPQs365WKYjmYmEIPypE+3+8lQ/p7xEZMjB9iIBpjJvX/Wkb4kQXRTWgOX13p/ghkzbo7pyWuwfpQeeBWnqSgTX+95AcY6i7HG1W+6s8MTtXFxjH9uSrpgX72qsLTlx95"
  - name: ansible
    groups: ['docker']
    ssh_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPX1LyZ6ERT25LPhnuaeJrKThetmklrbWoar+iRWhbFu ansible@trce"

# Package configuration
install_docker: true
