---
# Handlers for server-base role

- name: Update apt cache
  apt:
    update_cache: yes
  become: yes
  when: ansible_os_family == "Debian"

- name: Restart Docker
  systemd:
    name: docker
    state: restarted
  become: yes
