---
# Docker installation tasks
# Extracted from infra/ansible/ubuntu/base/docker.yml

- name: Update the apt package index
  apt:
    update_cache: yes
  become: yes
  when: ansible_os_family == "Debian"
  tags: ['docker-prereq']

- name: Install prerequisite packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present
  become: yes
  when: ansible_os_family == "Debian"
  tags: ['docker-prereq']

- name: Add Docker's official GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: yes
  when: ansible_os_family == "Debian"
  tags: ['docker-repo']

- name: Set up the Docker repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/{{ ansible_system | lower }}/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    state: present
  become: yes
  when: ansible_os_family == "Debian"
  tags: ['docker-repo']

- name: Install Docker packages
  apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: yes
  become: yes
  when: ansible_os_family == "Debian"
  tags: ['docker-install']

- name: Start and enable Docker service
  systemd:
    name: docker
    enabled: yes
    state: started
  become: yes
  tags: ['docker-service']
