---
# User configuration tasks
# Extracted from infra/ansible/ubuntu/base/users.yml

- name: Allow passwordless sudoers from sudo group
  community.general.sudoers:
    group: sudo
    name: /etc/sudoers.d/sudoers
    commands: ALL
    nopassword: "{{ enable_passwordless_sudo }}"
  become: yes
  when: enable_passwordless_sudo | default(true)
  tags: ['sudoers']

- name: Create server users
  user:
    name: "{{ item.name }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    home: "/home/{{ item.name }}"
    state: present
  become: yes
  loop: "{{ server_users }}"
  tags: ['user-creation']

- name: Add users to groups
  user:
    name: "{{ item.name }}"
    groups: "{{ item.groups | default([]) }}"
    append: yes
  become: yes
  loop: "{{ server_users }}"
  when: item.groups is defined
  tags: ['user-groups']

- name: Create SSH directory for users
  file:
    path: "/home/{{ item.name }}/.ssh"
    state: directory
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: 0700
  become: yes
  loop: "{{ server_users }}"
  tags: ['ssh-setup']

- name: Add SSH public keys for users
  authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "{{ item.ssh_key }}"
  become: yes
  loop: "{{ server_users }}"
  when: item.ssh_key is defined
  tags: ['ssh-keys']
