---
# Font installation tasks
# Extracted from mac-dev-playbook/tasks/iterm.yml

- name: Clone Menlo for powerline font
  git:
    repo: "{{ powerline_font_repo }}"
    dest: "{{ fonts_temp_dir }}"
    accept_hostkey: yes
    force: yes
  check_mode: no  # Run in check mode (cloning repo)
  become: no
  tags: ['powerline-fonts']

- name: Ensure Fonts directory exists
  file:
    path: "{{ fonts_dir }}"
    state: directory
  become: no
  tags: ['powerline-fonts']

- name: Copy Menlo for Powerline fonts
  copy:
    src: "{{ fonts_temp_dir }}/{{ item }}"
    dest: "{{ fonts_dir }}/"
  become: no
  with_items:
    - "Menlo for Powerline.ttf"
    - "Menlo Italic for Powerline.ttf"
    - "Menlo Bold for Powerline.ttf"
    - "Menlo Bold Italic for Powerline.ttf"
  tags: ['powerline-fonts']

- name: Clean up temporary font directory
  file:
    path: "{{ fonts_temp_dir }}"
    state: absent
  become: no
  tags: ['powerline-fonts']
