---
# Set zsh as default shell

- name: Ensure zsh is installed
  package:
    name: zsh
    state: present
  become: yes
  when: not is_macos  # macOS has zsh by default

- name: Get zsh path
  shell: which zsh
  register: zsh_path_result
  changed_when: false

- name: Change default shell to zsh
  user:
    name: "{{ target_user }}"
    shell: "{{ zsh_path_result.stdout }}"
  become: yes
